

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .dropdown {
    display: inline-flexbox;
    margin: 0rem;
    padding-left: 3rem;
    width: 11rem;
  }
  
  .dropbtn {
    background-color:#0E9DF4;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 11rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;

    min-width: 12.5rem;
    border-radius: 1rem;
    background-color: #EEF6FF;
  }
  
  .dropdown-content a {
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown-content a:hover {
    background-color: #A7EDF5;
    border-radius: 10rem;
    
    animation: fadeIn 0.3s ease-out;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 0.5s ease-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
  }